<div class="container" style="margin: 100px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>modificar la novedad</h4>
            <form method="post" action="/admin/novedades/modificar" enctype="multipart/form-data">

                <input type="hidden" value=" {{novedad.id}}" name="id">
                <div class="form-group">
                    <label for="">titulo</label>
                    <input type="text" name="titulo" value=" {{novedad.titulo}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">subtitulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                </div>
                <div class="form-group">
                    <p>
                        <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                    </p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                        eliminar imagen actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>
                <div class="form-group">
                    <label for="">cuerpo</label>
                    <textarea name="cuerpo" class="form-control">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">modificar</button>
            </form>
        </div>
    </div>
</div>